/************************** General Classes ***************************/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.inline-block {
	display: inline-block;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body {
	min-width: 1024px;
	height: 100%;
	background: url(../img/background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body * {
	box-sizing: border-box; 
}
.none { display: none;}
/************************** End General Classes ***************************/

/************************** Header **************************/
header {
	background: #0099f1;
	color: white;
	font-family: Arial;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}
.header-top {
	padding: 4px 10px;
	height: 56px;
}
.header-top ul li + li{
	margin-left: 10px; 
}
.user-name {
	font-weight: bold;
	font-size: 18px;
	margin: 8px 0 0 10px;
}
.assignment {
	font-size: 10px;
	margin: 2px 0 0 10px;
}
.header-title {
	width: 70%;
	margin: 8px 0 0 0;
	text-align: center;
}
.header-title h1 {	
	font: normal 24px Arial;
	margin: 0;
}
.breadcrums {
	margin: 5px 0 0 0;
}
.header-breadcrums {
	background-color: #303031;
	padding: 6px 10px;
	color: #0099F1;
	font-size: 12px;
	height: 50px;
}
.header-breadcrums label {
	vertical-align: middle;
}
[class^="icon-"], [class*=" icon-"],
[class^="iconSmall-"], [class*=" iconSmall-"],
[class^="tab-"], [class*=" tab-"] {
	height: 40px;
	width: 40px;
	vertical-align: middle;
	border: none;
	display: inline-block;
	background: url("../img/icons.png") no-repeat 0 0;
	margin-top: 3px;
}
.icon-navbar { background-position: 0 0;}
.icon-search {
	background-position: 0 -40px;
	position: absolute;
	right: 0;
	top: -1px;
	margin: 0
}
.icon-filters { background-position: 0 -80px;}
.icon-date {
	background-position: -40px -40px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 13px 15px 0 0;;
}
.icon-flow {background-position: -40px -80px;}

[class^="iconSmall-"], [class*=" iconSmall-"] {
	height: 24px;
	width: 24px;
	background: url("../img/icons.png") no-repeat -40px 0;
	margin: 0;
}
.iconSmall-breadHome { background-position: -40px 0;}
.search { position: relative;}
.search input, select {
	border: 1px solid #8C8F97;
	border-radius: 4px;
	padding: 4px 8px;
	height: 38px;
	color: #4b4d52;
	width: 270px;
}

/************************** End Header **************************/

/************************** Left Panel Menu **************************/
.leftPanel {
	background-color: #2f2f30;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: 106px 0 0 0;
}
.leftPanel .selected {
	background-color: #0099f1;
}
[class^="tab-"], [class*=" tab-"] {
	height: 70px;
	width: 75px;
	margin: 0;
	display: list-item;
	background-position: 0 -120px;
}
.tab-home { background-position: 0 -120px;}
.tab-calendar { background-position: 0 -190px;}
.tab-email { background-position: 0 -260px;}

/************************** End Left Panel Menu **************************/

/************************** Content ************************/
.content {
	margin: 106px 0 0 75px;
	padding: 20px;
}
.content h2 {
	color: #0099f1;
	font-size: 18px;
}
.wrapper-map .map-chart {
	width: 460px;
	height: 210px;
}
.pays-chart, .categories-chart {
	background-color: #4b4d52;
	opacity: .1;
	width: 206px;
	height: 342px;
}
.wrapper {
	float: left;
}
.wrapper + .wrapper {
	margin-left: 20px;
}
.age-chart {
	width: 460px;
	height: 230px;
}
.gender-chart {
	background-color: ;
	width: 430px;
	height: 230px;
	background-color: #4b4d52;
	opacity: .1;
}
.row + .row {
	margin: 10px 0 0 0;
}
/************************** End Content ************************/

/************************** Content ************************/
.filters-panel {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 56px 0 0 0;
	width: 300px;
	background-color: white;
	box-shadow: -2px 0 12px rgba(80,80,80, .5);
	z-index: 2000;
}
.filters-panel li {
	border-bottom: 1px solid #d8dadb;
	position: relative;
	padding: 15px;
}
.header-top ul li .filters-panel li {
	margin: 0;
}
.filters-panel input,
.filters-panel select{
	border-color: #8d9097;
}
/************************** End Content ************************/

/************************** Other Stats ************************/
.other-stats {	
	text-align: center;
	
}
.other-stats li {
	max-width: 140px;
	float: left;
}
.other-stats li h3 {
	margin: 2px 0;
}
.other-stats li h4 {
	font: normal 10px Arial;
	text-transform: uppercase;
	margin: 0;
}
/************************** End Other Stats ************************/