/** content.less */
.header {
	background: #0051e0;
	color: #ffffff;
}

.item.selected {
	background: #0051e0;
	color: #ffffff;
}

.breadcrumbs {
	background: #000000;
}

.breadcrumbs.item {
	color: #ffffff;
	font-size: 12px;
}

.inline-block {
	display: inline-block;
}

.float-left {
	float: left;
}

.clear:after {
	clear: both;
}