/** maps.css **/

.map-container {
  display: inline-block;
  width: 1024px;
  height: 680px;
}

#map-canvas {
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #ff0000;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
} .pin:after {
    content: '';
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    position: absolute;
    border-radius: 50%;
}
