/************************** General Classes ***************************/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.inline-block {
	display: inline-block;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body {
	min-width: 1024px;
	height: 100%;
}
body * {
	box-sizing: border-box; 
}
/************************** End General Classes ***************************/

/************************** Header **************************/
header {
	background: #0099f1;
	color: white;
	font-family: Arial;
}
.header-top {
	padding: 4px 10px;
	height: 56px;
}
.header-top ul li + li{
	margin-left: 10px; 
}
.user-name {
	font-weight: bold;
	font-size: 18px;
	margin: 8px 0 0 10px;
}
.assignment {
	font-size: 10px;
	margin: 2px 0 0 10px;
}
.header-title {
	width: 70%;
	margin: 8px 0 0 0;
	text-align: center;
}
.header-title h1 {	
	font: normal 24px Arial;
	margin: 0;
}
.breadcrums {
	margin: 5px 0 0 0;
}
.header-breadcrums {
	background-color: #303031;
	padding: 6px 10px;
	color: #0099F1;
	font-size: 12px;
	height: 50px;
}
.header-breadcrums label {
	vertical-align: middle;
}
[class^="icon-"], [class*=" icon-"],
[class^="iconSmall-"], [class*=" iconSmall-"],
[class^="tab-"], [class*=" tab-"] {
	height: 40px;
	width: 40px;
	vertical-align: middle;
	border: none;
	display: inline-block;
	background: url("../img/icons.png") no-repeat 0 0;
	margin-top: 3px;
}
.icon-navbar { background-position: 0 0;}
.icon-search { 
	background-position: 0 -40px;
	position: absolute;
	right: 0;
	top: -1px;
	margin: 0
}
.icon-filters { background-position: 0 -80px;}

[class^="iconSmall-"], [class*=" iconSmall-"] {
	height: 24px;
	width: 24px;
	background: url("../img/icons.png") no-repeat -40px 0;
	margin: 0;
}
.iconSmall-breadHome { background-position: -40px 0;}
.search { position: relative;}
.search input {
	border: 1px solid #8C8F97;
	border-radius: 4px;
	padding: 4px 8px;
	height: 38px;
	color: #4b4d52;
	width: 270px;
}

/************************** End Header **************************/

/************************** Left Panel Menu **************************/
.leftPanel {
	background-color: #2f2f30;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: 106px 0 0 0;
}
.leftPanel .selected {
	background-color: #0099f1;
}
[class^="tab-"], [class*=" tab-"] {
	height: 70px;
	width: 75px;
	margin: 0;
	display: list-item;
	background-position: 0 -120px;
}
.tab-home { background-position: 0 -120px;}
.tab-calendar { background-position: 0 -190px;}
.tab-email { background-position: 0 -260px;}
