 <div class="content">
			<div class="row clearfix">
				<div class="wrapper wrapper-map">
					<h2>Geolocalzación de Gastos</h2>
					<div class="map-chart"></div>
					<div class="map-slider"></div>
					<ul class="other-stats">
						<li>
							<i class="stats-flow"></i>
							<h3>$58,000</h3>
							<h4>Promedio de flujo de efectivo</h4>
						</li>
					</ul>
				</div>

				<div class="wrapper wrapper-pays">
					<h2>Distribución de Pagos</h2>
					<div class="pays-chart"></div>
				</div>

				<div class="wrapper wrapper-categories">
					<h2>Categorías Comerciales</h2>
					<div class="categories-chart"></div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="wrapper wrapper-age">
					<h2>Distribucion por Edad</h2>
					<div class="age-chart"></div>
				</div>
				<div class="wrapper wrapper-gender">
					<h2>Distribución por Género</h2>
					<div class="gender-chart"></div>
				</div>
			</div>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   </div>
