<header>
			<div class="header-top clearfix">
				<ul>
					<li class="floatLeft">
						<button type="button" class="icon-navbar"></button>
					</li>
					<li class="floatLeft">
						<img src="static/img/avatar-gonzalo.png" class="floatLeft"/>
						<ul class="inline-block floatLeft">
							<li class="user-name">Juan Pérez</li>
							<li class="assignment">Colaborador</li>
						</ul>					
					</li>
					<li class="header-title floatLeft">
						<h1 class="">Estadísticas</h1>
					</li>
					<li class="floatRight">
						<button type="button" class="icon-filters"></button>
					</li>
				</ul>							
			</div>

			<div class="header-breadcrums clearfix">
				<ul>
					<li class="floatLeft breadcrums">
						<i class="iconSmall-breadHome"></i>
						<label>Inicio</label>
					</li>
					<li class="floatRight search">
						<input type="search" placeholder="Search...">
						<i class="icon-search"></i>
					</li>
				</ul>
			</div>			
</header>
