<header class="header clear">
  <a href="#" class="float-left">&nbsp;</a>
  <figure class="inline-block float-left">
    <img src="" class="inline-block">
    <figcaption class="inline-block">
      <hgroup>
        <h1> James Sullivan </h1>
        <h3> Webdesigner </h3>
      </hgroup>
    </figcaption>
  </figure>
  <span "float-left">
    Stats
  </span>
  <a href="#" class="float-left">&nbsp;</a>
</header>
<nav class="breadcrumbs">
  <a href="/" class="item selected">Dashboard</a>
  &gt;
  <span class="item">Stats</span>
  <span class="item">Thursday, July 17 2014</span>
</nav>
