		<header>
			<div class="header-top clearfix">
				<ul>
					<li class="floatLeft">
						<button type="button" class="icon-navbar"></button>
					</li>
					<li class="floatLeft">
						<img src="static/img/avatar-gonzalo.png" class="floatLeft"/>
						<ul class="inline-block floatLeft">
							<li class="user-name">Juan Pérez</li>
							<li class="assignment">Colaborador</li>
						</ul>					
					</li>
					<li class="header-title floatLeft">
						<h1 class="">Estadísticas</h1>
					</li>
					<li class="floatRight">
						<button type="button" class="icon-filters"></button>
						<ul class="filters-panel none">
							<li class="filter-datemin search">
								<input type="search" placeholder="Fecha Mínima"/>
								<i class="icon-date"></i>
							</li>
							<li class="filter-datemax search">
								<input type="search" placeholder="Fecha Máxima"/>
								<i class="icon-date"></i>
							</li>
							<li class="filter-groupby">
								<select>Agrupados por
									<option>Option 1</option>
									<option>Option 2</option>
								</select>								
							</li>
							<li class="filter-categories search">
								<input type="search" placeholder="Categorias"/>
							</li>
						</ul>
					</li>
				</ul>							
			</div>

			<div class="header-breadcrums clearfix">
				<ul>
					<li class="floatLeft breadcrums">
						<i class="iconSmall-breadHome"></i>
						<label>Inicio</label>
					</li>
					<li class="floatRight search">
						<input type="search" placeholder="Search...">
						<i class="icon-search"></i>
					</li>
				</ul>
			</div>
			
		</header>
