<!DOCTYPE html>
<html>
  <head>

    <meta charset=UTF-8>
    <link rel="stylesheet" type="text/css" href='{% css_include_tag "flat-ui.min.css" %}' >
    <link rel="stylesheet" type="text/css" href='{% css_include_tag "vendor/bootstrap.min.css" %}' >
    <link rel="stylesheet/less" type="text/css" href='{% css_include_tag "sizes.less" %}'> 
    <link rel="stylesheet/less" type="text/css" href='{% css_include_tag "colors.less" %}'> 
    <link rel="stylesheet/less" type="text/css" href='{% css_include_tag "general.less" %}'> 
    <link rel="stylesheet/less" type="text/css" href='{% css_include_tag "content.less" %}'> 
    <title>Layout</title>
  </head>
  <body>
    {% include "shared/_header.html" %}
    <div id="name" class="container">
      {% include "shared/_aside.html" %}
      {% block content %} {% endblock %}
    </div>
    {% include "shared/_footer.html"  %}
    <!--[if lt IE 9] -->
      <script src="../../static/js/vendor/html5shiv.js"></script>
      <script src="../../static/js/vendor/respond.min.js"></script>    
    <!--[endif] -->
    <script src="../../static/js/vendor/jquery.min.js"></script>
    <script src="../../static/js/flat-ui.min.js"></script>
    <script src="../../static/js/vendor/less.min.js"></script>
  </body>
</html>
