<!DOCTYPE html>
<html>
  <head>

    <meta charset=UTF-8>
    <link rel="stylesheet" type="text/css" href='{% css_include_tag "flat-ui.min.css" %}' >
    <link rel="stylesheet" type="text/css" href='{% css_include_tag "vendor/bootstrap.min.css" %}' >
    <title>Layout</title>
  </head>
  <body>
    {% include "shared/_header.html" %}
    <div id="name" class="container">
      {% include "shared/_aside.html" %}
      {% block content %} {% endblock %}
      <div id="chart"></div>
    </div>
    {% include "shared/_footer.html"  %}
    <!--[if lt IE 9] -->
      <script src="../../static/js/vendor/html5shiv.js"></script>
      <script src="../../static/js/vendor/respond.min.js"></script>    
    <!--[endif] -->
    <script data-main="../../static/main" src="../../static/js/vendor/require.min.js"></script>
    <script src="../../static/js/vendor/less.min.js"></script>
  </body>
</html>
