<!DOCTYPE html>
<html>
  <head>

    <meta charset=UTF-8>

    <title>Layout</title>
  </head>
  <body>

  </body>
</html>

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Predicciones de Gastos</title>
     <link rel="stylesheet" href='{% css_include_tag "reset.css"  %}'>
     <link rel="stylesheet" href='{% css_include_tag "styles.css" %}'>
    <script src='{% javascript_include_tag "less.min.js" %}' type="text/javascript"></script>
  </head>
  <body class="clearfix">
    {% include "shared/_header.html" %}
		{% include "shared/_aside.html" %}
    {% include "shared/_container.html" %}
      <!--[if lt IE 9] -->
      <script src="../../static/js/vendor/html5shiv.js"></script>
      <script src="../../static/js/vendor/respond.min.js"></script>    
      <!--[endif] -->
      <script data-main="../../static/main" src="../../static/js/vendor/require.min.js"></script>
  </body>
</html>
